.newsletter {
    /* position: relative; */
    background-image: url('../../assets/newsletter-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    margin-bottom: 40px;
    font-family: Roboto;
}
/* 
.newsletter img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
} */

.newsletter-info {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.newsletter-info form {
    display: grid;
    width: 100%;
    grid-template-columns: 72.5% 25%;
    gap: 7.5px;
}

.newsletter-info input[type="email"] {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.newsletter-info button[type="submit"] {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: rgba(74, 0, 224, 0.8);
    color: white;
    padding: 7px 15px;
}

.newsletter-info p,
h4 {
    color: grey;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    .newsletter {
        height: 300px;
    }

    .newsletter-info {
        width: 90%;
        /* top: 0; */
        /* transform: translateX(-50%); */
    }

    .newsletter-info form {
        width: 90%;
        gap: 7.5px;
        margin-top: 4.5px;
    }

    .newsletter-info button[type="submit"] {
        padding: 7.5px 2.5px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .newsletter {
        height: 400px;
    }

    .newsletter-info form {
        width: 90%;
        gap: 5px;
        margin-top: 2.5px;
    }

    .newsletter-info button[type="submit"] {
        padding: 7.5px 10px;
    }

}

/* 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center; */